body {
    background: #fff;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .editinvoice--header {
        margin: 0;
        background: #ffffff;
        padding: 10px 52px;
    }
    
    .editinvoice--img {
        padding: 16px;
        background-color: #0C46D3;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 18px;
    }
    
    .editinvoice--t1 {
        font-size: 18px;
    }
    
    .editinvoice--t2 {
        position: relative;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        top: -26px;
        left: 76px;
    }
    
    .editinvoice--icon {
        position: relative;
        color: #0C46D3;
        background: rgba(12, 70, 211, 0.1);
        padding: 18px;
        border-radius: 100%;
        top: -76px;
    }
    
    .editinvoice--icon:hover {
        background: rgba(12, 70, 211);
        color: #fff;
    }
    
    .editinvoice--icon:active {
        background: rgba(12, 70, 211, 0.5);
        border: solid;
        border-color: rgba(12, 70, 211);
        border-width: 2px;
    }
    
    .editinvoice--body {
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 50px 25px;
        padding: 50px 50px;
        padding-bottom: 45vh;
        min-height: max-content;
    }
    
    .editinvoice--box1 {
        width: fit-content;
        border-style: dotted;
        padding: 24px 24px;
        margin-left: -24px;
    }

    .editinvoice--upload-img {
        width: 150px;
        height: 40px;
        margin-top: -56px;
        margin-left: 54px;
      }
    
    .editinvoice-icon1 {
        font-size: 36px;
        margin-right: 18px;
    }
    
    .editinvoice--tt1 {
        position: relative;
        font-size: 14px;
        top: -8px;
    
    }
    
    .editinvoice--tt2 {
        position: relative;
        top: 24px;
        left: -92px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
        display: none;
    }
    
    .editinvoice--input-file {
        position: relative;
        font-size: 10px;
        left: -14px;
        top: -20px;
    }
    
    .editinvoice--input-date {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        margin-top: 20px;
        margin-right: 12px;
        width: 250px;
        height: 52.5px;
    }
    
    .editinvoice--tt3 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .editinvoice--i-t {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 24px;
    }
    
    .editinvoice--input-text {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 95%;
        margin-top: 16px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text2 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 100%;
        margin-right: 6px;
    }
    
    .editinvoice--input-text3 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 100%;
        margin-right: 6px;
        margin-top: 18px;
    }
    
    .editinvoice--input-text4 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 100%;
        margin-right: 6px;
        margin-top: 18px;
    }

    .editinvoice--icon2222 {
        position: relative;
        top: -12px;
    }
    
    .editinvoice--icon2 {
        position: relative;
        color: #fff;
        background-color: #0C46D3;
        border-radius: 100%;
        padding: 18px;
        margin-top: 12px;
        right: 24px;
    }
    
    .editinvoice--icon2:hover {
        opacity: 0.8;
    }
    
    .editinvoice--box2 {
        position: relative;
        background: #F1F1F1;
        border-radius: 5px;
        padding: 14px;
        width: 250px;
        margin-top: 54px;
        right: -24px;
    }
    
    .editinvoice--ttt1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--ttt2 {
        font-size: 12px;
        color: rgba(0, 0, 0);
        font-weight: 600;
    }
    
    .editinvoice--ttt3 {
        font-size: 12px;
        font-weight: 600;
    }
    
    .editinvoice--btn1 {
        position: relative;
        top: 270px;
        right: -275px;
        border: 1.5px solid #0C46D3;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #0C46D3;
        background-color: #fff;
        margin-right: 12px;
    }
    
    .editinvoice--btn1:hover {
        background-color: #0C46D3;
        color: #fff;
    }
    
    .editinvoice--btn1:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2 {
        position: relative;
        top: 270px;
        right: 48px;
        margin-bottom: 84px;
        /* right: -295px; */
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }

    .editinvoice--btn2-2 {
        position: relative;
        top: 40px;
        right: -24px;
        margin-bottom: 84px;
        /* right: -295px; */
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2-2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2-2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

    .editinvoice--header {
        margin: 0;
        background: #ffffff;
        padding: 10px 52px;
    }
    
    .editinvoice--img {
        padding: 16px;
        background-color: #0C46D3;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 18px;
    }
    
    .editinvoice--t1 {
        font-size: 18px;
    }
    
    .editinvoice--t2 {
        position: relative;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        top: -26px;
        left: 76px;
    }
    
    .editinvoice--icon {
        position: relative;
        color: #0C46D3;
        background: rgba(12, 70, 211, 0.1);
        padding: 18px;
        border-radius: 100%;
        top: -76px;
    }
    
    .editinvoice--icon:hover {
        background: rgba(12, 70, 211);
        color: #fff;
    }
    
    .editinvoice--icon:active {
        background: rgba(12, 70, 211, 0.5);
        border: solid;
        border-color: rgba(12, 70, 211);
        border-width: 2px;
    }
    
    .editinvoice--body {
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 50px 25px;
        padding: 50px 50px;
        padding-bottom: 40vh;
        min-height: max-content;
    }
    
    .editinvoice--box1 {
        width: fit-content;
        border-style: dotted;
        padding: 24px 24px;
    }

    .editinvoice--upload-img {
        width: 200px;
        height: 40px;
        margin-top: -16px;
      }
    
    .editinvoice-icon1 {
        font-size: 36px;
        margin-right: 18px;
    }
    
    .editinvoice--tt1 {
        position: relative;
        font-size: 14px;
        top: -18px;
    
    }
    
    .editinvoice--tt2 {
        position: relative;
        top: 24px;
        left: -92px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--input-file {
        position: relative;
        font-size: 10px;
        left: -14px;
        top: -20px;
    }
    
    .editinvoice--input-date {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        margin-top: 20px;
        margin-right: 12px;
        width: 300px;
    }
    
    .editinvoice--tt3 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .editinvoice--i-t {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 24px;
    }
    
    .editinvoice--input-text {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 95%;
        margin-top: 16px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text2 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 100%;
        margin-right: 6px;
    }
    
    .editinvoice--input-text3 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 100%;
        margin-right: 6px;
        margin-top: 18px;
    }
    
    .editinvoice--input-text4 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 100%;
        margin-right: 6px;
        margin-top: 18px;
    }
    
    .editinvoice--icon2 {
        position: relative;
        color: #fff;
        background-color: #0C46D3;
        border-radius: 100%;
        padding: 18px;
        margin-top: 12px;
        right: 24px;
    }
    
    .editinvoice--icon2:hover {
        opacity: 0.8;
    }
    
    .editinvoice--box2 {
        position: relative;
        background: #F1F1F1;
        border-radius: 5px;
        padding: 14px;
        width: 250px;
        margin-top: 124px;
        right: -24px;
    }
    
    .editinvoice--ttt1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--ttt2 {
        font-size: 12px;
        color: rgba(0, 0, 0);
        font-weight: 600;
    }
    
    .editinvoice--ttt3 {
        font-size: 12px;
        font-weight: 600;
    }
    
    .editinvoice--btn1 {
        position: relative;
        top: 270px;
        right: -275px;
        border: 1.5px solid #0C46D3;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #0C46D3;
        background-color: #fff;
        margin-right: 12px;
    }
    
    .editinvoice--btn1:hover {
        background-color: #0C46D3;
        color: #fff;
    }
    
    .editinvoice--btn1:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
 
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .editinvoice--header {
        margin: 0;
        background: #ffffff;
        padding: 10px 52px;
    }
    
    .editinvoice--img {
        padding: 16px;
        background-color: #0C46D3;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 18px;
    }
    
    .editinvoice--t1 {
        font-size: 18px;
    }
    
    .editinvoice--t2 {
        position: relative;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        top: -26px;
        left: 76px;
    }
    
    .editinvoice--icon {
        position: relative;
        color: #0C46D3;
        background: rgba(12, 70, 211, 0.1);
        padding: 18px;
        border-radius: 100%;
        top: -76px;
    }
    
    .editinvoice--icon:hover {
        background: rgba(12, 70, 211);
        color: #fff;
    }
    
    .editinvoice--icon:active {
        background: rgba(12, 70, 211, 0.5);
        border: solid;
        border-color: rgba(12, 70, 211);
        border-width: 2px;
    }
    
    .editinvoice--body {
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 50px 105px;
        padding: 50px 50px;
        padding-bottom: 35vh;
        min-height: max-content;
    }
    
    .editinvoice--box1 {
        width: fit-content;
        border-style: dotted;
        padding: 24px 24px;
    }

    .editinvoice--upload-img {
        width: 200px;
        height: 40px;
        margin-top: -16px;
      }
    
    .editinvoice-icon1 {
        font-size: 36px;
        margin-right: 18px;
    }
    
    .editinvoice--tt1 {
        position: relative;
        font-size: 14px;
        top: -18px;
    
    }
    
    .editinvoice--tt2 {
        position: relative;
        top: 24px;
        left: -92px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--input-file {
        position: relative;
        font-size: 10px;
        left: -14px;
        top: -20px;
    }
    
    .editinvoice--input-date {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        margin-top: 20px;
        margin-right: 12px;
        width: 150px;
    }
    
    .editinvoice--tt3 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .editinvoice--i-t {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 24px;
    }
    
    .editinvoice--input-text {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 95%;
        margin-top: 16px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text2 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 150px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text3 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 200px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text4 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 150px;
        margin-right: 6px;
    }
    
    .editinvoice--icon2 {
        position: relative;
        color: #fff;
        background-color: #0C46D3;
        border-radius: 100%;
        padding: 18px;
        margin-top: 12px;
        right: 24px;
    }
    
    .editinvoice--icon2:hover {
        opacity: 0.8;
    }
    
    .editinvoice--box2 {
        position: relative;
        background: #F1F1F1;
        border-radius: 5px;
        padding: 14px;
        width: 250px;
        margin-top: 124px;
        right: -24px;
    }
    
    .editinvoice--ttt1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--ttt2 {
        font-size: 12px;
        color: rgba(0, 0, 0);
        font-weight: 600;
    }
    
    .editinvoice--ttt3 {
        font-size: 12px;
        font-weight: 600;
    }
    
    .editinvoice--btn1 {
        position: relative;
        top: 270px;
        right: -275px;
        border: 1.5px solid #0C46D3;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #0C46D3;
        background-color: #fff;
        margin-right: 12px;
    }
    
    .editinvoice--btn1:hover {
        background-color: #0C46D3;
        color: #fff;
    }
    
    .editinvoice--btn1:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }

    .editinvoice--btn2-2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2-2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2-2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }

    
    
    
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .editinvoice--header {
        margin: 0;
        background: #ffffff;
        padding: 10px 52px;
    }
    
    .editinvoice--img {
        padding: 16px;
        background-color: #0C46D3;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 18px;
    }
    
    .editinvoice--t1 {
        font-size: 18px;
    }
    
    .editinvoice--t2 {
        position: relative;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        top: -26px;
        left: 76px;
    }
    
    .editinvoice--icon {
        position: relative;
        color: #0C46D3;
        background: rgba(12, 70, 211, 0.1);
        padding: 18px;
        border-radius: 100%;
        top: -76px;
    }
    
    .editinvoice--icon:hover {
        background: rgba(12, 70, 211);
        color: #fff;
    }
    
    .editinvoice--icon:active {
        background: rgba(12, 70, 211, 0.5);
        border: solid;
        border-color: rgba(12, 70, 211);
        border-width: 2px;
    }
    
    .editinvoice--body {
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 50px 125px;
        padding: 50px 50px;
        padding-bottom: 55vh;
        min-height: max-content;
    }
    
    .editinvoice--box1 {
        width: fit-content;
        border-style: dotted;
        padding: 24px 24px;
    }
    
    .editinvoice--upload-img {
        width: 200px;
        height: 40px;
        margin-top: -16px;
      }
    
    .editinvoice-icon1 {
        font-size: 36px;
        margin-right: 18px;
    }
    
    .editinvoice--tt1 {
        position: relative;
        font-size: 14px;
        top: -18px;
    
    }
    
    .editinvoice--tt2 {
        position: relative;
        top: 24px;
        left: -92px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--input-file {
        position: relative;
        font-size: 10px;
        left: -14px;
        top: -20px;
    }
    
    .editinvoice--input-date {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        margin-top: 20px;
        margin-right: 12px;
        width: 150px;
    }
    
    .editinvoice--tt3 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .editinvoice--i-t {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 24px;
    }
    
    .editinvoice--input-text {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 95%;
        margin-top: 16px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text2 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 150px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text3 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 200px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text4 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 150px;
        margin-right: 6px;
    }
    
    .editinvoice--icon2 {
        position: relative;
        color: #fff;
        background-color: #0C46D3;
        border-radius: 100%;
        padding: 18px;
        margin-top: 92px;
        right: 24px;
    }
    
    .editinvoice--icon2:hover {
        opacity: 0.8;
    }
    
    .editinvoice--box2 {
        position: relative;
        background: #F1F1F1;
        border-radius: 5px;
        padding: 14px;
        width: 250px;
        margin-top: 124px;
        right: -24px;
    }
    
    .editinvoice--ttt1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--ttt2 {
        font-size: 12px;
        color: rgba(0, 0, 0);
        font-weight: 600;
    }
    
    .editinvoice--ttt3 {
        font-size: 12px;
        font-weight: 600;
    }
    
    .editinvoice--btn1 {
        position: relative;
        top: 270px;
        right: -275px;
        border: 1.5px solid #0C46D3;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #0C46D3;
        background-color: #fff;
        margin-right: 12px;
    }
    
    .editinvoice--btn1:hover {
        background-color: #0C46D3;
        color: #fff;
    }
    
    .editinvoice--btn1:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }

    .editinvoice--btn2-2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2-2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2-2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .editinvoice--header {
        margin: 0;
        background: #ffffff;
        padding: 10px 52px;
    }
    
    .editinvoice--img {
        padding: 16px;
        background-color: #0C46D3;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 18px;
    }
    
    .editinvoice--t1 {
        font-size: 18px;
    }
    
    .editinvoice--t2 {
        position: relative;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        top: -26px;
        left: 76px;
    }
    
    .editinvoice--icon {
        position: relative;
        color: #0C46D3;
        background: rgba(12, 70, 211, 0.1);
        padding: 18px;
        border-radius: 100%;
        top: -76px;
    }
    
    .editinvoice--icon:hover {
        background: rgba(12, 70, 211);
        color: #fff;
    }
    
    .editinvoice--icon:active {
        background: rgba(12, 70, 211, 0.5);
        border: solid;
        border-color: rgba(12, 70, 211);
        border-width: 2px;
    }
    
    .editinvoice--body {
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 50px 245px;
        padding: 50px 50px;
        padding-bottom: 55vh;
        min-height: max-content;
    }
    
    .editinvoice--box1 {
        width: fit-content;
        border-style: dotted;
        padding: 24px 24px;
    }
    
    .editinvoice--upload-img {
        width: 200px;
        height: 40px;
        margin-top: -16px;
    }
    
    .editinvoice-icon1 {
        font-size: 36px;
        margin-right: 18px;
    }
    
    .editinvoice--tt1 {
        position: relative;
        font-size: 14px;
        top: -18px;
    
    }
    
    .editinvoice--tt2 {
        position: relative;
        top: 24px;
        left: -92px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--input-file {
        position: relative;
        font-size: 10px;
        left: -14px;
        top: -20px;
    }
    
    .editinvoice--input-date {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        margin-top: 20px;
        margin-right: 12px;
        width: 150px;
    }
    
    .editinvoice--tt3 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .editinvoice--i-t {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 24px;
    }
    
    .editinvoice--input-text {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 95%;
        margin-top: 16px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text2 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 150px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text3 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 200px;
        margin-right: 6px;
    }
    
    .editinvoice--input-text4 {
        background: #FFFFFF;
        border: 1.2px solid #F1F1F1;
        border-radius: 8px;
        padding: 14px 24px;
        width: 150px;
        margin-right: 6px;
    }
    
    .editinvoice--icon2 {
        position: relative;
        color: #fff;
        background-color: #0C46D3;
        border-radius: 100%;
        padding: 18px;
        margin-top: 122px;
        right: 24px;
    }
    
    .editinvoice--icon2:hover {
        opacity: 0.8;
    }
    
    .editinvoice--box2 {
        position: relative;
        background: #F1F1F1;
        border-radius: 5px;
        padding: 14px;
        width: 250px;
        margin-top: 124px;
        right: -24px;
    }
    
    .editinvoice--ttt1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .editinvoice--ttt2 {
        font-size: 12px;
        color: rgba(0, 0, 0);
        font-weight: 600;
    }
    
    .editinvoice--ttt3 {
        font-size: 12px;
        font-weight: 600;
    }
    
    .editinvoice--btn1 {
        position: relative;
        top: 270px;
        right: -275px;
        border: 1.5px solid #0C46D3;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #0C46D3;
        background-color: #fff;
        margin-right: 12px;
    }
    
    .editinvoice--btn1:hover {
        background-color: #0C46D3;
        color: #fff;
    }
    
    .editinvoice--btn1:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2-2 {
        position: relative;
        top: 270px;
        right: -275px;
        border: none;
        border-radius: 8px;
        padding: 14px;
        width: 150px;
        color: #fff;
        background-color: #0C46D3;
    }
    .editinvoice--btn2-2:hover {
        border: 1.5px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
    .editinvoice--btn2-2:active {
        border: 3px solid #0C46D3;
        background-color: #fff;
        color: #0C46D3;
    }
    
 } 

