/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home {
    margin: 0;
  }

  .home--head {
    background-color: #0c46d3;
    padding: 32px 32px;
  }

  .home--head-img {
  }

  .home--head-btn {
    width: 170px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 12px;
    margin-top: -14px;
    color: #fff;
  }

  .home--head-btn:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--head-btn:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .home--hero {
    background-color: #0c46d3;
    height: 1100px;
    padding: 54px 32px;
  }

  .home--t1 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    line-height: 50px;
    margin-top: -10px;
  }

  .home--t2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    text-align: left;
    margin-top: -12px;
    margin-bottom: 28px;
  }

  .home--hero-btn {
    width: 200px;
    background-color: #fff;
    color: #0c46d3;
    padding: 14px;
    border: none;
    border-radius: 10px;
  }

  .home--hero-btn:hover {
    background-color: #0c46d3;
    border: 2px solid #fff;
    color: #fff;
  }

  .home--hero-img {
    width: 100%;
    margin-top: 82px;
  }

  .section {
    margin-top: 300px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .hero--t3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    line-height: 40px;
    margin-top: -84px;
  }

  .hero--t4 {
    color: #070707;
    font-size: 20px;
  }

  .hero--t4:hover {
    opacity: 0.6;
  }

  .hero--t4-icon {
    position: relative;
    left: 6px;
    top: 2px;
  }

  .hero--t5 {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
  }

  .hero--t6 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 120px;
  }

  .slider {
    margin-top: 200px;
  }

  .slider--content {
    background-color: #070707;
    border-radius: 40px;
    padding: 24px 20px;
    margin-bottom: 150px;
    margin-top: -102px;
  }

  .slider--img {
    width: 25%;
    margin-top: -460px;
    display: none;
  }

  .section2 {
    background-color: #0c46d3;
    padding: 32px 32px;
    margin-bottom: 50px;
  }

  .home--t7 {
    font-size: 30px;
    line-height: 48px;
    color: #fff;
  }

  .home--t8 {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    margin-top: -18px;
  }

  .home--btn2 {
    width: 150px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: 24px;
    color: #fff;
  }

  .home--btn2:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--btn2:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .sec-img {
    margin-bottom: -100px;
  }

  .home--sec-img {
    width: 70%;
    margin-top: -100px;
    z-index: -100;
    display: none;
  }

  .home--sec-img2 {
    position: relative;
    width: 45%;
    margin-top: -80px;
    margin-bottom: 68px;
    margin-left: 220px;
    margin-right: -40px;
  }

  .home--footer {
    padding: 0 32px 32px;
  }

  .home--icon {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 10px;
    border-radius: 100%;
  }

  .home--icon:hover {
    background: #0c46d350;
  }

  .home--icon1 {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 10px;
    border-radius: 100%;
  }

  .home--icon1:hover {
    background: #0c46d350;
  }

  .home--footer-t {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 44px;
  }

  .home--footer-t2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: -24px;
  }

  .home--footer-t3 {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 12px;
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home {
    margin: 0;
  }

  .home--head {
    background-color: #0c46d3;
    padding: 32px 50px;
  }

  .home--head-img {
  }

  .home--head-btn {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: -14px;
    color: #fff;
  }

  .home--head-btn:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--head-btn:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .home--hero {
    background-color: #0c46d3;
    height: 1100px;
    padding: 54px 50px;
  }

  .home--t1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  .home--t2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    text-align: center;
    margin-top: -14px;
    margin-bottom: 44px;
  }

  .home--hero-btn {
    width: 200px;
    background-color: #fff;
    color: #0c46d3;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 30%;
  }

  .home--hero-btn:hover {
    background-color: #0c46d3;
    border: 2px solid #fff;
    color: #fff;
  }

  .home--hero-img {
    width: 100%;
    margin-top: 82px;
  }

  .section {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .hero--t3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 26px;
    line-height: 45px;
    margin-right: 80px;
  }

  .hero--t4 {
    color: #070707;
    font-size: 22px;
  }

  .hero--t4:hover {
    opacity: 0.6;
  }

  .hero--t4-icon {
    position: relative;
    left: 6px;
    top: 2px;
  }

  .hero--t5 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }

  .hero--t6 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 17px;
    line-height: 40px;
    margin-bottom: 120px;
  }

  .slider {
    margin-top: 200px;
  }

  .slider--content {
    background-color: #070707;
    border-radius: 40px;
    padding: 40px;
    margin-bottom: 150px;
    margin-top: -90px;
  }

  .slider--img {
    width: 25%;
    margin-top: -460px;
    display: none;
  }

  .section2 {
    background-color: #0c46d3;
    padding: 50px;
    margin-bottom: 50px;
  }

  .home--t7 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
  }

  .home--t8 {
    font-size: 17px;
    line-height: 36px;
    color: #fff;
    margin-top: -18px;
  }

  .home--btn2 {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: 24px;
    color: #fff;
  }

  .home--btn2:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--btn2:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .sec-img {
    margin-bottom: -100px;
  }

  .home--sec-img {
    width: 70%;
    margin-top: -100px;
    z-index: -100;
    display: none;
  }

  .home--sec-img2 {
    position: relative;
    width: 40%;
    top: -50px;
    left: 300px;
    right: -40px;
  }

  .home--footer {
    padding: 0 50px 32px;
  }

  .home--icon {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 10px;
    border-radius: 100%;
  }

  .home--icon:hover {
    background: #0c46d350;
  }

  .home--icon1 {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 12px;
    border-radius: 100%;
  }

  .home--icon1:hover {
    background: #0c46d350;
  }

  .home--footer-t {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 24px;
  }

  .home--footer-t2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: -24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home {
    margin: 0;
  }

  .home--head {
    background-color: #0c46d3;
    padding: 32px 100px;
  }

  .home--head-img {
  }

  .home--head-btn {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: -14px;
    color: #fff;
  }

  .home--head-btn:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--head-btn:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .home--hero {
    background-color: #0c46d3;
    height: 1100px;
    padding: 54px 100px;
  }

  .home--t1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  .home--t2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    text-align: center;
    margin-top: -24px;
    margin-bottom: 44px;
  }

  .home--hero-btn {
    width: 200px;
    background-color: #fff;
    color: #0c46d3;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 42%;
  }

  .home--hero-btn:hover {
    background-color: #0c46d3;
    border: 2px solid #fff;
    color: #fff;
  }

  .home--hero-img {
    width: 100%;
    margin-top: 82px;
  }

  .section {
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .hero--t3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    line-height: 50px;
    margin-right: 80px;
  }

  .hero--t4 {
    color: #070707;
    font-size: 30px;
  }

  .hero--t4:hover {
    opacity: 0.6;
  }

  .hero--t4-icon {
    position: relative;
    left: 6px;
    top: 2px;
  }

  .hero--t5 {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
  }

  .hero--t6 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 120px;
    width: 490px;
  }

  .slider {
    margin-top: 200px;
  }

  .slider--content {
    background-color: #070707;
    border-radius: 40px;
    padding: 60px;
    margin-bottom: 150px;
  }

  .slider--img {
    width: 25%;
    margin-top: -460px;
  }

  .section2 {
    background-color: #0c46d3;
    padding: 100px;
    margin-bottom: 50px;
  }

  .home--t7 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    width: 750px;
  }

  .home--t8 {
    width: 670px;
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    margin-top: -18px;
  }

  .home--btn2 {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: 24px;
    color: #fff;
  }

  .home--btn2:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--btn2:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .sec-img {
    margin-bottom: -100px;
  }

  .home--sec-img {
    width: 70%;
    margin-top: -100px;
    z-index: -100;
  }

  .home--sec-img2 {
    position: relative;
    width: 27%;
    margin-top: 55px;
    margin-left: 20px;
    margin-right: -40px;
  }

  .home--footer {
    padding: 0 100px 32px;
  }

  .home--icon {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 10px;
    border-radius: 100%;
  }

  .home--icon:hover {
    background: #0c46d350;
  }

  .home--icon1 {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 12px;
    border-radius: 100%;
  }

  .home--icon1:hover {
    background: #0c46d350;
  }

  .home--footer-t {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 24px;
  }

  .home--footer-t2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: -24px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home {
    margin: 0;
  }

  .home--head {
    background-color: #0c46d3;
    padding: 32px 100px;
  }

  .home--head-img {
  }

  .home--head-btn {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: -14px;
    color: #fff;
  }

  .home--head-btn:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--head-btn:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .home--hero {
    background-color: #0c46d3;
    height: 1100px;
    padding: 54px 100px;
  }

  .home--t1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  .home--t2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    text-align: center;
    margin-top: -24px;
    margin-bottom: 44px;
  }

  .home--hero-btn {
    width: 200px;
    background-color: #fff;
    color: #0c46d3;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 42%;
  }

  .home--hero-btn:hover {
    background-color: #0c46d3;
    border: 2px solid #fff;
    color: #fff;
  }

  .home--hero-img {
    width: 100%;
    margin-top: 82px;
  }

  .section {
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .hero--t3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    line-height: 50px;
    margin-right: 80px;
  }

  .hero--t4 {
    color: #070707;
    font-size: 30px;
  }

  .hero--t4:hover {
    opacity: 0.6;
  }

  .hero--t4-icon {
    position: relative;
    left: 6px;
    top: 2px;
  }

  .hero--t5 {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
  }

  .hero--t6 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 120px;
    width: 490px;
  }

  .slider {
    margin-top: 200px;
  }

  .slider--content {
    background-color: #070707;
    border-radius: 40px;
    padding: 60px;
    margin-bottom: 150px;
  }

  .slider--img {
    width: 25%;
    margin-top: -460px;
    display: block;
  }

  .section2 {
    background-color: #0c46d3;
    padding: 100px;
    margin-bottom: 50px;
  }

  .home--t7 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    width: 750px;
  }

  .home--t8 {
    width: 670px;
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    margin-top: -18px;
  }

  .home--btn2 {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: 24px;
    color: #fff;
  }

  .home--btn2:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--btn2:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .sec-img {
    margin-bottom: -100px;
  }

  .home--sec-img {
    width: 70%;
    margin-top: -500px;
    margin-left: 350px;
    z-index: -100;
    display: block;
  }

  .home--sec-img2 {
    position: relative;
    width: 27%;
    top: -18px;
    left: 20px;
    right: -40px;
  }

  .home--footer {
    padding: 0 100px 32px;
  }

  .home--icon {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 10px;
    border-radius: 100%;
  }

  .home--icon:hover {
    background: #0c46d350;
  }

  .home--icon1 {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 12px;
    border-radius: 100%;
  }

  .home--icon1:hover {
    background: #0c46d350;
  }

  .home--footer-t {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 24px;
  }

  .home--footer-t2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: -24px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home {
    margin: 0;
  }

  .home--head {
    background-color: #0c46d3;
    padding: 32px 100px;
  }

  .home--head-img {
  }

  .home--head-btn {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: -14px;
    color: #fff;
  }

  .home--head-btn:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--head-btn:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .home--hero {
    background-color: #0c46d3;
    height: 1100px;
    padding: 54px 100px;
  }

  .home--t1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  .home--t2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    text-align: center;
    margin-top: -24px;
    margin-bottom: 44px;
  }

  .home--hero-btn {
    width: 200px;
    background-color: #fff;
    color: #0c46d3;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 42%;
  }

  .home--hero-btn:hover {
    background-color: #0c46d3;
    border: 2px solid #fff;
    color: #fff;
  }

  .home--hero-img {
    width: 100%;
    margin-top: 82px;
  }

  .section {
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .hero--t3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    line-height: 50px;
    margin-right: 80px;
  }

  .hero--t4 {
    color: #070707;
    font-size: 30px;
  }

  .hero--t4:hover {
    opacity: 0.6;
  }

  .hero--t4-icon {
    position: relative;
    left: 6px;
    top: 2px;
  }

  .hero--t5 {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
  }

  .hero--t6 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 120px;
    width: 490px;
  }

  .slider {
    margin-top: 200px;
  }

  .slider--content {
    background-color: #070707;
    border-radius: 40px;
    padding: 60px;
    margin-bottom: 150px;
  }

  .slider--img {
    width: 25%;
    margin-top: -460px;
  }

  .section2 {
    background-color: #0c46d3;
    padding: 100px;
    margin-bottom: 50px;
  }

  .home--t7 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    width: 750px;
  }

  .home--t8 {
    width: 670px;
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    margin-top: -18px;
  }

  .home--btn2 {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #0c46d3;
    padding: 14px;
    margin-top: 24px;
    color: #fff;
  }

  .home--btn2:hover {
    background-color: #fff;
    color: #0c46d3;
  }

  .home--btn2:active {
    border: 3px solid #ffffff;
    background-color: #0c46d3;
    color: #fff;
  }

  .sec-img {
    margin-bottom: -100px;
  }

  .home--sec-img {
    width: 70%;
    margin-top: -600px;
    margin-left: 350px;
    z-index: -100;
  }

  .home--sec-img2 {
    position: relative;
    width: 27%;
    top: 37px;
    left: 20px;
    right: -40px;
  }

  .home--footer {
    padding: 0 100px 32px;
  }

  .home--icon {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 10px;
    border-radius: 100%;
  }

  .home--icon:hover {
    background: #0c46d350;
  }

  .home--icon1 {
    color: #0c46d3;
    font-size: 16px;
    margin-right: 24px;
    background: #0c46d310;
    padding: 6px 12px;
    border-radius: 100%;
  }

  .home--icon1:hover {
    background: #0c46d350;
  }

  .home--footer-t {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 24px;
  }

  .home--footer-t2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: -24px;
  }
}
